.cookie {
    width: 20em;
    height: 20em;
}

.mouseOver {
    width: 22em;
    height: 22em;
    left: 10px;
    top: 10px;
}

.pulse:hover {
    animation: pulse .8s ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

.text {
    font-family: 'Crafty Girls', cursive;
}



/* Cookie Glow */


@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.block:after {
    filter: blur(80px);
}

/* Pointers */

h1 span {
    font: 26px Monaco, MonoSpace;
    height: 200px;
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
}

.char1 {
    transform: rotate(6deg);
}

.char2 {
    transform: rotate(12deg);
}

.char3 {
    transform: rotate(18deg);
}
