.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.2em;
    box-shadow: 7px 7px 5px white;
    border-radius: 12px;
    text-shadow: 2px 2px 5px white;
}